my-professional-website@0.1.0 /workspaces/MyProfessionalWebsite-Django/myproject/frontend
├── @popperjs/core@2.11.8
├── @vue/cli-plugin-babel@5.0.8
├── @vue/cli-plugin-router@5.0.8
├── @vue/cli-service@5.0.8
├── aos@2.3.4
├── bootstrap-icons@1.11.3
├── bootstrap@5.3.3
├── core-js@3.39.0
├── marked@15.0.3
├── mdb-vue-ui-kit@6.0.0
├── raw-loader@4.0.2
├── vue-router@4.4.5
└── vue@3.5.13

